body {
    background-color: #000000;
    transition: 0.5s;
}
.display {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 0;
    transition: 0.5s;
    color: honeydew;
}
h2 {
    font-size: 30px;
    color: black;
    text-align: center;
    transition: 0.5s;
    font-family: 'Lato', sans-serif;
}
.gamelist {
    background-color: dodgerblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
}
.gameimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.gametext {
    margin-right: 20px;
}
.gamebreak {
    font-size: 10px;
}
.gametitle {
    font-size: 30px;
    font-family: cursive;
    margin-left: 40px;
    text-decoration: underline;
}
.gamedec {
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.gamelink {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: white;
}
.logo {
    position: fixed;
}
.logo p{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.logo img {
    width: 28px;
    height: 28px;
}
.search[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.searchbutton {
    width: 20%;
    background-color: #4CAF50;
    color: white; 
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.25s;
}
.searchbutton:hover {
    background-color: forestgreen;
    color: beige;
}
.searchbutton:hover .search[type=text], select {
    background-color: dimgray;
}